<!-- Footer -->
<div class="container-fluid" style="padding-top: 30px">
    <footer
        class="footer"
        style="
            background-color: transparent;
            position: absolute;
            bottom: 10px;
            height: 0;
            width: 92%;
        "
    >
        <div class="row align-items-center justify-content-xl-between mt-3">
            <div class="col-xl-12">
                <div class="text-center text-xl-left">
                    <a
                        class="font-weight-bold ml-1"
                        style="font-family: Gotham_Light; color: black"
                        >&copy; 2022 Agritop</a
                    >
                </div>
            </div>
        </div>
    </footer>
</div>
